.search-box-dimention{
    height: 1rem;
    width: 5rem;
}
.number-phone{

}
.background{
    background-color: #EBE0DA;
   
}
.text_color{
    color: #ED9A53;
}
.text-link-color{
    color: black;
}
.button_size{
    height: 3rem;
    width: 6rem;
 
}
.button_size2{
    height: 8rem;
    width: 8rem;
 
}
.button_meniu_size{
    height: 10rem;
    width: 10rem;
}
.background_image{
    background-image: url(img/Confection/background_home_container.jpeg);
    height: 35rem;
    background-size: cover;
    position: relative;
    background-position: center;
}
.simple-img{
    height: 15rem;
    width: 15rem;
}
.space{
    height: 3rem;
}
.logo{
    height: 10rem;
    width: 15rem;
}
.instagram{
    height: 4rem;
    width: 4rem;
}
.background_image_register{
    background-image: url(img/Macarons/macarons_backround.jpeg);
    height: 15rem;
    background-size: cover;
    position: relative;
    background-position: center;
}
.input_dimention{
    width: 20rem;
}
.background_cakes_page{
    background-image: url(img/Cakes/background_cakes_page.jpg);
    height: 40rem;
    background-size: cover;
    position: relative;
    background-position: center;
}
.cakes_img{
    height: 20rem;
    width: 20rem;
}
.background_eclair_page{
    background-image: url(img/Eclairs/background_eclair.jpeg);
    height: 35rem;
    background-size: cover;
    position: relative;
    background-position: center;
}
.eclair_image{
    height: 12rem;
    width: 10rem;
}
.background_macarons_page{
    background-image: url(img/Macarons/macarons_backround.jpeg);
    height: 25rem;
    background-size: cover;
    position: relative;
    background-position: center;
}






.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-22 11:33:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  
  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-22 11:42:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

  